// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset and dependencies
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";
//@import "glyphicons.less";

// Core CSS
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/buttons.less";

// Components
//@import "component-animations.less";
//@import "bootstrap/less/dropdowns.less";
//@import "button-groups.less";
//@import "input-groups.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
//@import "breadcrumbs.less";
//@import "bootstrap/less/pagination.less";
//@import "bootstrap/less/pager.less";
@import "bootstrap/less/labels.less";
//@import "bootstrap/less/badges.less";
@import "bootstrap/less/jumbotron.less";
//@import "bootstrap/less/thumbnails.less";
@import "bootstrap/less/alerts.less";
//@import "progress-bars.less";
//@import "media.less";
//@import "bootstrap/less/list-group.less";
//@import "bootstrap/less/panels.less";
//@import "responsive-embed.less";
@import "bootstrap/less/wells.less";
//@import "close.less";

// Components w/ JavaScript
//@import "bootstrap/less/modals.less";
//@import "bootstrap/less/tooltip.less";
//@import "bootstrap/less/popovers.less";
//@import "bootstrap/less/carousel.less";

// Utility classes
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";


section.level1, section.level2 {
    .make-md-column(12);
    .make-row();
}
section.level1 {
    padding-top: 50px;
}
section.level1 > p, section.level2 > p,
section.level1 > ol, section.level2 > ol,
section.level1 > ul, section.level2 > ul,
section.level1 > dl, section.level2 > dl,
section.level1 > blockquote, section.level2 > blockquote { .make-md-column(9); .make-md-column-offset(1); }
section.level3 { .make-md-column(9); .make-md-column-offset(1); }
section.level4 { .make-md-column(6) }
section.level5 { .make-sm-column(4) }
section.level6 { .make-sm-column(3) }

.image-link(@filestem) {
    @filename: %('icons/lorc/originals/svg/000000/transparent/%s.svg', @filestem);
    height: 1em;
    width: 1em;
    padding-right: 0.2em;
    content: url(@filename);
    display: inline-block;
}
section > *:first-child::before {
    height: 2em !important;
    width: 2em !important;
    float: left;
}
section > *:nth-child(2) {
    clear: left;
}

svg { max-height: 100%; }

#torei > *:first-child::before, [href$='#torei']::before { .image-link('eclipse') }
#high-tech-and-traditional-bdsm-are-part-of-the-torean-way-of-life > *:first-child::before, [href$='#high-tech-and-traditional-bdsm-are-part-of-the-torean-way-of-life']::before { .image-link('manacles') }
#the-three-ais-are-inscrutable-mad-gods-keeping-torei-a-backwater-while-trying-to-finish-its-biosphere > *:first-child::before, [href$='#the-three-ais-are-inscrutable-mad-gods-keeping-torei-a-backwater-while-trying-to-finish-its-biosphere']::before { .image-link('triple-lock') }
#torei-is-hard-to-get-to-from-the-rest-of-the-cosmos > *:first-child::before, [href$='#torei-is-hard-to-get-to-from-the-rest-of-the-cosmos']::before { .image-link('black-hole-bolas') }
#torean-biotech-can-do-some-amazing-things > *:first-child::before, [href$='#torean-biotech-can-do-some-amazing-things']::before { .image-link('techno-heart') }
#earth-is-gone-and-forgotten > *:first-child::before, [href$='#earth-is-gone-and-forgotten']::before { .image-link('world') }
#the-star > *:first-child::before, [href$='#the-star']::before { .image-link('orbital') }
#the-space-elevator > *:first-child::before, [href$='#the-space-elevator']::before { .image-link('lift'); }
#the-ringdoms > *:first-child::before, [href$='#the-ringdoms']::before { .image-link('zigzag-cage'); }
#the-antipodes > *:first-child::before, [href$='#the-antipodes']::before { .image-link('wheat'); }
#the-ministries > *:first-child::before, [href$='#the-ministries']::before { .image-link('capitol'); }
#ministry-of-truants > *:first-child::before, [href$='#ministry-of-truants']::before { .image-link('handcuffs'); }
#ministry-of-improvements > *:first-child::before, [href$='#ministry-of-improvements']::before { .image-link('doctor-face'); }
#ministry-of-wombs > *:first-child::before, [href$='#ministry-of-wombs']::before { .image-link('tied-scroll'); }
#the-badlands > *:first-child::before, [href$='#the-badlands']::before { .image-link('earth-spit'); }
#the-ziggurats > *:first-child::before, [href$='#the-ziggurats']::before { .image-link('artificial-hive'); }

#the-game > *:first-child::before, [href$='#the-game']::before { .image-link('book-cover');}
#character-creation > *:first-child::before, [href$='#character-creation']::before { .image-link('drama-masks'); }
#background > *:first-child::before, [href$='#background']::before { .image-link('journey');}
#well-rounded > *:first-child::before, [href$='#well-rounded']::before { .image-link('radial-balance');}
#strong-history > *:first-child::before, [href$='#strong-history']::before { .image-link('book-aura');}
#complicated-history > *:first-child::before, [href$='#complicated-history']::before { .image-link('burning-book');}
#strong-connections > *:first-child::before, [href$='#strong-connections']::before { .image-link('backup');}
#complicated-connections > *:first-child::before, [href$='#complicated-connections']::before { .image-link('two-shadows');}
#male-or-female > *:first-child::before, [href$='#male-or-female']::before { .image-link('duality');}
#why-did-you-leave > *:first-child::before, [href$='#why-did-you-leave']::before { .image-link('rocket-flight');}
#where-are-you-from > *:first-child::before, [href$='#where-are-you-from']::before { .image-link('globe');}
#hierarchy > *:first-child::before, [href$='#hierarchy']::before { .image-link('minions');}
#stats > *:first-child::before, [href$='#stats']::before { .image-link('suits');}
p > a[href$='#acuity']::before { .image-link('frontal-lobe');}
p > a[href$='#body']::before { .image-link('strong');}
p > a[href$='#heart']::before { .image-link('shining-heart');}
p > a[href$='#will']::before { .image-link('burning-passion');}
#traits > *:first-child::before, [href$='#traits']::before { .image-link('poker-hand');}
#relationships > *:first-child::before, [href$='#relationships']::before { .image-link('telepathy');}
#allocate-your-dice > *:first-child::before, [href$='#allocate-your-dice']::before { .image-link('checkbox-tree');}
#belongings > *:first-child::before, [href$='#belongings']::before { .image-link('knapsack');}
#torean-objects > *:first-child::before, [href$='#torean-objects']::before { .image-link('whip');}
#off-world-objects > *:first-child::before, [href$='#off-world-objects']::before { .image-link('circuitry');}
#biotech > *:first-child::before, [href$='#biotech']::before { .image-link('biohazard');}
#starting-equipment > *:first-child::before, [href$='#starting-equipment']::before { .image-link('belt-buckles');}
#guns-are-complicated > *:first-child::before, [href$='#guns-are-complicated']::before { .image-link('bolter-gun');}
#initiation-to-torei > *:first-child::before, [href$='#initiation-to-torei']::before { .image-link('slavery-whip');}
#example-character > *:first-child::before, [href$='#example-character']::before { .image-link('aura');}

#conflict > *:first-child::before, [href$='#conflict']::before { .image-link('back-forth');}
#who-goes-first > *:first-child::before, [href$='#who-goes-first']::before { .image-link('stopwatch');}
#who-wins > *:first-child::before, [href$='#who-wins']::before { .image-link('life-in-the-balance');}
#roll-stats-and-relationships > *:first-child::before, #need-more-dice > *:first-child::before, #how-to-think-about-dice > *:first-child::before, [href$='#roll-stats-and-relationships']::before, a[href$='#need-more-dice']::before, a[href$='#how-to-think-about-dice']::before { .image-link('cubes');}
#challenge > *:first-child::before, [href$='#challenge']::before { .image-link('smoking-finger');}
#response > *:first-child::before, [href$='#response']::before { .image-link('checked-shield');}
#change-the-game > *:first-child::before, #how-to-think-about-changing-the-game > *:first-child::before, [href$='#change-the-game']::before, a[href$='#how-to-think-about-changing-the-game']::before { .image-link('magic-swirl');}
#traits-and-belongings > *:first-child::before, [href$='#traits-and-belongings']::before { .image-link('cubeforce');}
#help > *:first-child::before, [href$='#help']::before { .image-link('all-for-one');}
#give-in > *:first-child::before, #giving-in-is-awesome > *:first-child::before, [href$='#give-in']::before, a[href$='#giving-in-is-awesome']::before { .image-link('prayer');}

#fallout > *:first-child::before, #fallout-dice > *:first-child::before, #how-to-think-about-fallout > *:first-child::before, [href$='#fallout']::before, a[href$='#fallout-dice']::before, a[href$='#how-to-think-about-fallout']::before { .image-link('thunder-struck');}
p > a[href$='#safe']::before { .image-link('screaming'); }
p > a[href$='#physical']::before { .image-link('grab'); }
p > a[href$='#violent']::before { .image-link('dripping-knife'); }
p > a[href$='#perilous']::before { .image-link('backstab'); }
figcaption > a[href$='#reversing-the-blow']::before, p > a[href$='#reversing-the-blow']::before { .image-link('shield-reflect'); }
figcaption > a[href$='#blocking']::before, p > a[href$='#blocking']::before { .image-link('arrows-shield'); }
figcaption > a[href$='#taking-the-blow']::before, p > a[href$='#taking-the-blow']::before { .image-link('broken-shield'); }
#short-term-harm > *:first-child::before, [href$='#short-term-harm']::before { .image-link('cut-palm');}
#permanent-harm > *:first-child::before, [href$='#permanent-harm']::before { .image-link('broken-bone');}
[href$='#scar']::before { .image-link('stitched-wound');}
[href$='#trauma']::before { .image-link('internal-injury');}
#experience > *:first-child::before, [href$='#experience']::before { .image-link('gift-of-knowledge');}

#play-advice > *:first-child::before, [href$='#play-advice']::before { .image-link('light-bulb');}
#gm-advice > *:first-child::before, [href$='#gm-advice']::before { .image-link('evil-book');}
#say-yes-or-roll-the-dice > *:first-child::before, [href$='#say-yes-or-roll-the-dice']::before { .image-link('uncertainty');}
#build-situations-not-plots > *:first-child::before, [href$='#build-situations-not-plots']::before { .image-link('jigsaw-piece');}
#share-the-setting > *:first-child::before, [href$='#share-the-setting']::before { .image-link('fountain-pen');}
#keep-revealing > *:first-child::before, [href$='#keep-revealing']::before { .image-link('magnifying-glass');}
#creating-situations > *:first-child::before, [href$='#creating-situations']::before { .image-link('jigsaw-box');}
#creating-npcs > *:first-child::before, [href$='#creating-npcs']::before { .image-link('puppet');}
#npc-crowds > *:first-child::before, [href$='#npc-crowds']::before { .image-link('dozen');}

table:extend(.table all, .table-striped all) {}
header:extend(.jumbotron all) {
    background-color: black;
    background-height: 100%;
    background-repeat:no-repeat;
    background-position: right;
    text-shadow: 1px 1px 1px #000;
    color: @brand-primary;
    h2:extend(h4) {}
}
dl:extend(.dl-horizontal all) {}

blockquote:extend(.alert-info all) {}

div[role=main] > p:extend(.lead) {}

body { font-family: 'Junction'; }
h1,h2,h3,h4,h5,h6,a { font-family: 'Orbitron'; }

section>p>img:extend(.img-rounded all, .pull-right all), 
.action:extend(.well all), .stat:extend(.well all) {}
.die, .harm {padding-bottom: 15px;}

.die > h5:extend(h3), .die > h6:extend(h3), .action > h6:extend(h4),
.harm > h5:extend(h3), .harm > h6:extend(h3), .stat > h6:extend(h3) { text-align: center;}

figure img:extend(.center-block, .img-rounded) { max-width: 8em !important;}

section.example:extend(.well, .panel all, .panel-info all) {
    clear: both;
    h3::before {
        content: 'Example: ';
        height: auto !important;
        width: auto !important;
        padding-right: 0.2em;
    };
    h3:extend(.panel-title all) {};
    tr.even {background-color: @gray-darker;};
}

code.d10:extend(.bg-success),
code.d8:extend(.bg-info),
code.d6:extend(.bg-warning),
code.d4:extend(.bg-danger) {}
code {
    font-family: 'Orbitron';
    font-weight: normal !important;
    -moz-box-shadow:    inset 0 0 5px @gray-lighter;
    -webkit-box-shadow: inset 0 0 5px @gray-lighter;
    box-shadow:         inset 0 0 5px @gray-lighter;
}
.jumbotron {
    -moz-box-shadow:    inset 0 0 20px @gray-darker;
    -webkit-box-shadow: inset 0 0 20px @gray-darker;
    box-shadow:         inset 0 0 20px @gray-darker;
}

code.d10:after { content: "d10"; }
code.d8:after { content: "d8"; }
code.d6:after { content: "d6"; }
code.d4:after { content: "d4"; }

div.navbar-collapse {
    >  ul:extend(.nav all, .navbar-nav all) { 
        li.extend(.navbar-btn) {};
    }
    display: block;
    overflow-y: hidden;
}
@grid-float-breakpoint: 1024px;


@brand-primary:  #c5b74b;
@state-success-text:  lighten(#3c763d, 50%);
@state-success-bg:  darken(#dff0d8, 70%);
@state-info-text:   lighten(#31708f, 50%);
@state-info-bg:  darken(#d9edf7, 70%);
@state-warning-text:    lighten(#8a6d3b, 50%);
@state-warning-bg:  darken(#fcf8e3, 70%);
@state-danger-text: lighten(#a94442, 50%);
@state-danger-bg:  darken(#f2dede, 70%);
@state-success-border:           lighten(spin(@state-success-bg, -10), 10%);
@state-info-border:           lighten(spin(@state-info-bg, -10), 10%);
@state-warning-border:           lighten(spin(@state-warning-bg, -10), 10%);
@state-danger-border:           lighten(spin(@state-danger-bg, -10), 10%);

strong, em, a:visited, h1, h2, h3, h4, h5, h6 {
    color: lighten(@brand-primary, 10%);
}

@body-bg: @gray-darker;
@text-color: @gray-lighter;
@well-bg: @gray-dark;
@jumbotron-bg: @gray-dark;
@table-bg-accent: @gray-dark;
@table-bg-hover: @gray-dark;
@list-group-bg: @well-bg;
@list-group-border: @table-border-color;
@code-color: @gray-lighter;
@code-bg: @well-bg;

@font-size-base: 14pt;

@font-face {
    font-family: 'Junction';
    src: url('junction/webfonts/junction-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('junction/webfonts/junction-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Orbitron';
    src: url('orbitron/webfonts/orbitron-bold-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('orbitron/webfonts/orbitron-bold-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@media print {
    section.level6, section.level5, section.level4 { page-break-inside: avoid; }
}
body { padding-top: 70px; }
